include README.md
include requirements.txt
graft rust
prune rust/target
recursive-include agent_log_server/static *
recursive-include agent_log_server/templates *
recursive-include agent_log_server/shellspec *
recursive-include agent_log_server/te2_assets *
recursive-include extensions *
global-exclude __pycache__/*
global-exclude *.py[cod]
