include README.md
include requirements.txt
recursive-include agent_log_server/static *
recursive-include agent_log_server/templates *
recursive-include agent_log_server/shellspec *
recursive-include agent_log_server/te2_assets *
recursive-include extensions *.json
