include README.md
include requirements.txt
include DEVELOPER_MESSAGE_TEMPLATE.md
graft rust
prune rust/target
recursive-include rust/crates/als-server/src/static *
recursive-include als_deprecated/templates *
recursive-include als_deprecated/shellspec *
recursive-include als_deprecated/te2_assets *
recursive-include extensions *
global-exclude __pycache__/*
global-exclude *.py[cod]
